@import "~bootstrap/scss/bootstrap";

.user-card {
  flex-direction: row;

  .user-avatar-wrapper {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    border-radius: 50%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    margin: 0;
  }
}
