<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Standard Actions in API site</h1>
    <br>
    <hr>

    <a href="{% url 'authenticate:login' %}">Login : authentication/login/</a> - only Post/ return authenticate TOKEN<br><br>
    <a href="{% url 'authenticate:registration' %}">Registration : authentication/register/</a> - only Post, data example: {"username": "...", "email": "...", "password": "...", "password2": "...", "first_name": "...", "last_name": "...", "avatar": "..."} - only Post / return response<br><br>

    <a href="{% url 'post:create' %}">post/create/</a> - only Post, data example: {"title": "...", "desc": "..."}, requires authenticate TOKEN, token input in header "Authorization": "Token {token value}"<br><br>

    <a href="{% url 'post:list' %}">post/list/</a> - GET request, require - nothing<br><br>

    <a href="{% url 'post:get_csrf' %}">post/get_csrf/</a> - generate csrf token <br><br>

    <a href="{% url 'authenticate:account' 'user1' %}">authentication/account/user.id/</a> - GET and PUT, can update password data {"password": "...", "password2": "..."} requires authenticate TOKEN, token input in header "Authorization": "Token {token value}" / return user data<br><br>

    <a href="{% url 'authenticate:account_view' 'user1' %}">authentication/account/public/2/</a> - only GET , public account view, require nothing<br><br>

    <hr>
<br>
<br>
<br>
    <h2>Post Actions</h2>
    <br>
{% for item in posts %}
    <hr>
        <h2>Title: {{ item.title }}</h2>
    <br>
        <h3>Desc: {{ item.desc }}</h3>
    <br>
        <h4>Author: {{ item.author.username }}</h4>
    <a href="{% url 'post:create_section' item.id %}">post/create/section/{{ item.id }}/ <- This is post`s id</a> - only Post, data example: {"title": "...", "content": "..."}, requires authenticate TOKEN, token input in header "Authorization": "Token {token value}"<br><br>

    <a href="{% url 'post:edit_section' item.id %}">post/edit/section/{{ item.id }}/ <- This is post`s id</a> - allow method: ["GET", "PUT", "DELETE"], data example to "PUT": {"title": "...", "content": "..."}, requires authenticate TOKEN, token input in header "Authorization": "Token {token value}"<br><br>
    <br>
    <a href="{% url 'post:post_detail' item.id %}">post/detail/{{ item.id }}/</a> - only GET,<br><br>
    <a href="{% url "post:post_edit" item.id %}">post/edit/{{ item.id }}/</a> - work request ["GET", "PUT", "DELETE"], data example to "PUT": {"title": "..."} requires authenticate TOKEN, token input in header "Authorization": "Token {token value}"<br><br>
    <a href="{% url 'post:add_comment'  item.id %}">post/add/comment/{{ item.id }}/</a> - only Post, data example: {"message": "..."} / return comment message and post_id, requires authenticate TOKEN, token input in header "Authorization": "Token {token value}" View post comments will be soon<br><br>
    <a href="{% url 'post:add_like' item.id %}"> like/{{ item.id }}/</a> - only Post, requires authenticate TOKEN, <bold>second POST request remove like from user</bold>, token input in header "Authorization": "Token {token value}"<br><br>
{% endfor %}

</body>
</html>